body{
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 100px 0px;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
    overflow: hidden;
    gap: 70px 20px;
}

.boxS{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box{
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 95px;
    border-radius: 900px;
    border-style: solid;
    overflow: hidden;
    background-color: rgba(127, 255, 212, 0);
    border-color: #4F4F4F;
    border-width: 3px;
}

.boxL{
    display: flex;
    width: 300px;
    height: 95px;
    border-radius: 900px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bd2525, #75D838);
    background-size: 600px;
}

.sdd{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.text177{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.cll {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(238, 238, 238);
    
    &.k {
        color: #3242cf;
    }

    &.L {
        color: #38ec50;
        font-size: 25px;
    }

    &.S {
        color: #a85a1b;
        width: 80px;
    }
}


.cl{
    display: flex;
    margin: 0px 5px;
    &.q {
        display: block;
    }

}

.eer{
    display: flex;
    margin: 0px 15px;
}


.Sl{
    display: flex;
    width: 303px;
    height: 43px;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: none;
    background-color: rgb(238, 238, 238);
}

.SSl{
    display: flex;
    width: 95px;
    height: 43px;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: none;
    background-color: rgb(238, 238, 238);
}

.gridin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0px 10px;
    padding: 0px 0px;
    width: 450px;
    height: 60px;

}

.gridin1{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 450px;
    height: 50px;

}



.buu{
    width: 95px;
    height: 43px;
    border-radius: 900px;
    border: none;
    color: #ff3131;
}

/* Media Queries for Mobile */
@media (max-width: 668px) {

    body{
        display: flex;
        height: 100vh;
        align-items: center;
        margin: 100px 0px;
        flex-direction: column;
        padding: 0 40px;
        box-sizing: border-box;
        overflow: hidden;
        gap: 10px 20px;
        touch-action: pan-y;
        touch-action: pan-x;
        touch-action: double-tap-zoom;
    }
    
    .boxS{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .box{
        display: flex;
        width: 100%;
        max-width: 300px;
        height: 65px;
        border-radius: 900px;
        border-style: solid;
        overflow: hidden;
        background-color: rgba(127, 255, 212, 0);
        border-color: #4F4F4F;
        border-width: 3px;
    }
    
    .boxL{
        display: flex;
        width: 300px;
        height: 65px;
        border-radius: 900px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #bd2525, #75D838);
        background-size: 300px;
    }
    
    .sdd{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .text177{
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
    
    .cll {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 200px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: rgb(238, 238, 238);
        
        &.k {
            color: #3242cf;
        }
    
        &.L {
            color: #38ec50;
            font-size: 25px;
        }
    
        &.S {
            color: #a85a1b;
            width: 80px;
        }
    }
    
    
    .cl{
        display: flex;
        margin: 0px 5px;

        &.q {
            display: none;
        }
    
    }
    
    .eer{
        display: flex;
        margin: 0px 15px;
    }
    
    
    .Sl{
        display: flex;
        width: 90px;
        height: 43px;
        border-radius: 200px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border: none;
        background-color: rgb(238, 238, 238);
    }
    
    .SSl{
        display: flex;
        width: 95px;
        height: 43px;
        border-radius: 200px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border: none;
        background-color: rgb(238, 238, 238);
    }
    
    .gridin{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 80px 20px;
        padding: 0px 0px;
        width: 450px;
        height: 60px;
    
    }
    
    .gridin1{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 80px 20px;
        padding: 0px 0px;
        width: 450px;
        height: 60px;
    
    }
    
    
    
    .buu{
        width: 95px;
        height: 43px;
        border-radius: 900px;
        border: none;
        color: #ff3131;
    }

}
